<nav class="navbar navbar-expand-lg navbar-light bg-primary py-3">
    <div class="container px-5">
        <a class="navbar-brand h1 font-weight-bold font-oswald"><span
                class="fw-bolder text-white fs-1">Rapido</span></a>

        <div class="collapse navbar-collapse mx-4" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item m-1">
                    <a class="btn btn-primary btn-lg px-3 py-2 fs-5 fw-bolder rounded-pill font-oswald" href="my-account/summary">Home</a>
                </li>

                <li class="nav-item m-1">
                    <a class="btn btn-primary btn-lg px-3 py-2 fs-5 fw-bolder rounded-pill font-oswald" href="my-account/summary">Send & Request</a>
                </li>

                <li class="nav-item m-1">
                    <a class="btn btn-primary btn-lg px-3 py-2 fs-5 fw-bolder rounded-pill font-oswald" href="my-account/summary">Wallets</a>
                </li>

                <li class="nav-item m-1">
                    <a class="btn btn-primary btn-lg px-3 py-2 fs-5 fw-bolder rounded-pill font-oswald" href="my-account/summary">Help</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                <li class="nav-item m-1 me-4"><a class="nav-link fs-5 text-white" (click)="logOut()">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>