<div class="container px-1 pb-3 mt-5">
    <div class="row gx-5 align-items-center">
        <div class="col-xxl-5">
            <div class="text-center text-xxl-start mt-5">
            <h1 class="display-1 fw-bolder mb-5 fadeInUp-animation"><span class="text-gradient d-inline">The future of payments is here</span></h1>
                <div class="fs-3 fw-light text-muted fadeInUp-animation">Send and receive money rapidly,<br> for free</div>
                <a class="btn btn-primary btn-lg mt-5 fw-bolder rounded-pill fadeInUp-animation" href="sign-up/account-selection">Sign Up</a>
            </div>
        </div>

        <div class="col-xxl-7">
            <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                <div class="lp-image">
                    <img class="lp-image-img rounded-circle border border-primary shadow-lg" src="../../assets/landing-page-img.jpg" alt="..." />
                </div>
            </div>
        </div>
    </div>
</div>
