<app-navbar-my-account></app-navbar-my-account>

<div class="container px-5 mt-5">
    <div class="row">
        <div class="col-6 shadow-lg p-4 mt-4 rounded rounded-5 bg-white">
            <div class="m-2 px-3">
                <h1 class="display-5">Current balance</h1>
                <hr>
                <div class="d-flex align-items-center mt-5 px-4">
                    <p class="display-1">$250</p> <span class="lead fw-normal text-muted mx-4">Available</span>
                </div>

                <div class="mt-2">
                    <a class="btn btn-outline-secondary btn-lg px-4 py-2 fs-5 m-4 fw-bolder rounded-pill border-2">Transfer Money</a>
                </div>
            </div>
        </div>

        <div class="w-100"></div>

        <div class="col-6 shadow-lg p-4 mt-4 rounded rounded-5 bg-white">
            <div class="m-2 px-3">
                <h1 class="display-5">Recent Activity</h1>
                <hr>
        
                <ul class="list-group mt-4">
                    <li class="list-group">           
                        <div class="row">
                            <div class="col-sm-3 d-flex flex-column justify-content-center align-items-center mt-2">
                                <div class="fs-4 fw-medium">
                                    NOV
                                </div>
                                <div class="fs-5 fw-medium">
                                    19
                                </div>
                            </div>
                            
                            <div class="col d-flex flex-column justify-content-center align-items-start">
                                <div class="fs-4 fw-medium">
                                    Company
                                </div>
                                <div class="fs-5 fw-medium">
                                    Payment Received
                                </div>
                            </div>

                            <div class="col d-flex flex-column justify-content-center align-items-end">
                                <div class="fs-5 fw-medium text-success">
                                    + $250
                                </div>
                            </div>
                        </div>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>