h1 {
    font-size: 72px !important;
    font-weight: bolder !important;
}

label {
    font-size: 58px !important;
    font-weight: bolder !important;
}

input[type=radio] {
    width: 50px;
    height: 50px;
}

input[type=radio]:checked {
    background-color: #0070E0;
    border-color: #0070E0;
}

.selection {
    border-radius: 25px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: white;
    background-color: var(--bs-light-blue);
    border-color: var(--bs-light-blue);
  }
  
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background-color: var(--bs-light-blue);
    border-color: var(--bs-light-blue);
  }