.btn-primary:hover {
    color: white;
    background-color: var(--bs-light-blue);
    border-color: var(--bs-light-blue);
  }
  
.btn-outline-primary:hover {
  background-color: var(--bs-light-blue);
  border-color: var(--bs-light-blue);
}