<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container px-5">
        <a class="navbar-brand h1 font-weight-bold font-oswald" href=""><span class="fw-bolder text-primary fs-1">Rapido</span></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                <li class="nav-item m-1"><a class="nav-link fs-6">Learn more</a></li>
                <li class="nav-item m-1  me-4"><a class="nav-link fs-6">Help</a></li>
                <a class="btn btn-outline-primary btn-lg px-4 py-2 me-sm-3 fs-5 fw-bolder rounded-pill border-2" href="log-in">Log In</a>
                <a class="btn btn-primary btn-lg px-4 py-2 fs-5 fw-bolder rounded-pill" href="sign-up/account-selection">Sign Up</a>
            </ul>
        </div>
    </div>
</nav>